* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: whitesmoke;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  text-align: left;
  padding: 1.5rem 2rem;
  background:black;
  color: white;
}

nav svg {
    fill: white;
  transition: all 0.3s ease-in-out;
}

nav svg:hover {
  transform: scale(1.2);
}

.main-heading a {
  color: white;
}

.main-data {
  margin: 2rem auto;
  min-height: 10rem;
  width: 70vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-data p {
  max-width: 30rem;
  padding: 3rem 3rem;
  background: white;
  font-size: 1rem;
  border-radius: 10px;
  text-align: justify;
  transition: all 0.3s ease;
}

.main-data p:hover {
  box-shadow: 0px 0px 30px rgb(218, 218, 218);
}

.section-1 {
  background: white;
  color: white;
  padding: 5rem 3rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.section-1 h2 {
  font-size: 2.5rem;
  padding: 1rem 0.5rem 2rem 0.5rem;
  text-align: left;
  width: 100%;
  color: black;
}

.section-1 img {
  max-width: 70%;
  border: solid 10px gray;
  border-radius: 20px;
  background: whitesmoke;
}

.section-2 {
  min-height: 110vh;
  background: rgb(20, 19, 22);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 5rem;
}

.section-2 h2 {
  font-size: 2rem;
  text-align: center;
  color: black;
  background: whitesmoke;
  padding: 1.2rem;
  border-radius: 50px;
  box-shadow: 0px 8px rgb(182, 182, 182);
}

.data {
  width: 90%;
  background: rgb(54, 54, 54);
  padding: 1.5rem;
  margin: 1rem 0;
  transition: all 0.3s ease-in-out;
}

.data h4 {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

.data p {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(138, 138, 138);
}

.data:hover {
  transform: translateY(-5px);
}

.section-3 {
  padding-right: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.section-3 h2 {
padding: 2.5rem;
background: rgb(39, 39, 54);
color: white;
  font-size: 1.5rem;
}

.section-3 a {
    font-size: 1rem;
  padding: 1.5rem;
  background: white;
  color: black;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.section-3 a:hover{
  box-shadow: 0px 0px 30px rgb(218, 218, 218);
}
