body {
  background: linear-gradient(to bottom, #f7b9bd, #fbd786, #c6ffdd);
}

.root {
  height: 95vh;
}

h1 {
  padding: 10px 10px 0px 10px;
}

#canvas-container {
  float: left;
}

#fps {
  position: relative;
  left: -50px;
  color: yellow;
  font-size: 13px;
}

#ui {
  float: right;
}

#ui ul {
  font-size: 28px;
  font-weight: bold;
}

#ui li {
  font-size: 18px;
  margin: 5px;
  padding: 5px;
  font-weight: normal;
}

input {
  float: right;
}

input[type="number"] {
  width: 50px;
}

input[type="range"] {
  width: 450px;
}

input[type="color"] {
  border: none;
  background: none;
}

#toggle-fractal {
  float: none;
  width: 50px;
  transform: translate(0.0, 4px);
  
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  border-radius: 10px;
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#toggle-fractal:hover {
  opacity: 1.5;
}

#toggle-fractal::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 20px;
  border-radius: 10px;
  background: blue;
  cursor: pointer;
}

#toggle-fractal::-webkit-slider-thumb:hover {
  background: darkblue;
}


#download {
  float: left;
  border: none;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0px;
  background-color: darkblue;
  color: white;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.1s;
}

#download:hover {
  background-color: blue;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
