body {
  background: linear-gradient(to bottom, #07d9bd, #f6ffdd);
}

.root {
  height: 97.4vh;
}

#canvas-container {
  float: left;
  cursor: pointer;
}

#title {
  position: relative;
  left: -700px;
  top: 5px;
  color: white;
  font-size: 18px;
}

#fps {
  position: relative;
  left: -50px;
  color: yellow;
  font-size: 13px;
}

#ui {
  float: right;
}

#ui ul {
  font-size: 28px;
  font-weight: bold;
}

#ui li {
  font-size: 18px;
  margin: 5px;
  padding: 5px;
  font-weight: normal;
}

input {
  float: right;
}

input[type="number"] {
  width: 50px;
}

input[type="range"] {
  width: 450px;
}

input[type="color"] {
  border: none;
  background: none;
}

#toggle-fractal {
  float: none;
  width: 50px;
  transform: translate(0, 4px);

  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  border-radius: 10px;
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#toggle-fractal:hover {
  opacity: 1.5;
}

#toggle-fractal::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 20px;
  border-radius: 10px;
  background: blue;
  cursor: pointer;
}

#toggle-fractal::-webkit-slider-thumb:hover {
  background: darkblue;
}

#download {
  float: left;
  /* border: none; */
  border: 2px solid #07d9bd;

  text-decoration: none;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0px;
  background-color: white;
  color: #07d9bd;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.1s;
}

#download:hover {
  background-color: #07d9bd;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
}
